{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a new page
{% endblock %}

{% block body %}
    <h1>Create a new page</h1>
    <div>
        <input id="create_new_page__title" placeholder="Title"></input>    
    </div>

    <div>
        <textarea id="create_new_page__textare" style="margin-left: 20px; height: 500px" name="new_page_content"></textarea>
    </div>

    <div>
        <button id="" style="margin: 20px 0 0 20px;">Save entry</button>
    </div>
    

{% endblock %}
